@use "../../../core/style/colors.scss" as *;
@use "sass:map";
@use "../../../core/style/responsive.scss" as *;

.accordion {
  &__container {
    padding: 0.75rem 0;
  }

  &__accordion {
    background-color: map.get($colors, background, darker);
    color: map.get($colors, letter, main);
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    padding: 1rem;
    width: 100%;
    position: relative;

    text-align: left;
    font-size: 1rem;
    font-family: inherit;
    outline: none;

    transition: 0.4s;

    &:hover {
      background-color: map.get($colors, background, accent-green);
      color: map.get($colors, letter, lightest);
    }
  }

  &__title {
    padding-right: 2rem;
  }

  &__panel {
    padding: 1rem 1rem 1rem 2rem;
    background-color: map.get($colors, background, accent-green);
    color: map.get($colors, letter, lightest);
    max-height: 0px;
    overflow: hidden;
    display: none;
    flex-direction: column;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  &__panel-list {
    list-style: square outside;
  }

  &__link {
    text-align: end;
    &:hover {
      color: map.get($colors, link, lighter);
    }
  }

  &__icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
  }

  &__accordion-angle {
    display: none;
  }

  &__accordion-plus {
    display: block;
  }

  &__accordion-minus {
    display: none;
  }

  @include responsive(sm) {
    &__accordion-angle {
      display: block;
    }

    &__accordion-plus {
      display: none;
    }
  }
}

.rotate {
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.active {
  background-color: map.get($colors, background, accent-green);
  color: map.get($colors, letter, lightest);
}
