---
const { title, text, link } = Astro.props;
import "./accordion.scss";
---

<div class="accordion__container">
  <button class="accordion__accordion">
    <h5 class="accordion__title">{title}</h5>
    <i class="fa-solid fa-plus accordion__accordion-plus accordion__icon"></i>
    <i class="fa-solid fa-minus accordion__accordion-minus accordion__icon"></i>
    <i class="fa-solid fa-angle-down accordion__accordion-angle accordion__icon"
    ></i>
  </button>
  <div class="accordion__panel">
    <ul>
      {
        text
          .split("\n")
          .map((line: string) => <li class="accordion__panel-list">{line}</li>)
      }
    </ul>
    <a href={link} class="accordion__link">
      Check detail
      <i class="fa-solid fa-angle-right"></i>
    </a>
  </div>
</div>
<script src="./accordion.js"></script>
