---
import "./nav.scss";
import HamburgerMenu from"./components/hamburger-menu/hamburger-menu.astro";
import NavBar from "./components/nav-bar/nav-bar.astro";
---

<header class="header">
    <div class="container">
        <NavBar />
        <HamburgerMenu />
    </div>
</header>