@use "sass:map";
@use "../../core/style/colors.scss" as *;

.swiper-pagination {
  bottom: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination-bullet-active {
  background-color: map.get($colors, background, accent-blue) !important;
}
