---
import "./skills.scss";
import SkillCard from "./components/skill-card.astro";
import SectionContainer from "../../core/components/section/section-container.astro";

const skills = [
    {
      category:"Frontend",
      subCategory:"Languages",
      items:[
          {icon:"fa-brands fa-html5",skillName:"HTML"},
          {icon:"fa-brands fa-css3-alt",skillName:"CSS"},
          {icon:"fa-brands fa-js",skillName:"JS"},
      ],
      subCategory2:"Frameworks & Libraries",
      items2:[
          {icon:"fa-brands fa-react",skillName:"React"},
          {icon:"fa-brands fa-vuejs",skillName:"Vue.js"},
          {icon:"fa-brands fa-js",skillName:"Astro"},
      ]
    },
    {
      category:"Backend",
      subCategory:"Languages",
      items:[
          {icon:"fa-brands fa-java",skillName:"Java"},
          {icon:"fa-brands fa-python",skillName:"Python"},
      ],
      subCategory2:"Database & Tools",
      items2:[
          {icon:"fa-solid fa-database",skillName:"Postgres"},
          {icon:"fa-solid fa-pen-to-square",skillName:"J-Unit"},
      ]
    },
    {
      category:"Others",
      subCategory:"Version Control",
      items:[
          {icon:"fa-brands fa-git-alt",skillName:"Git"},
          {icon:"fa-solid fa-arrows-spin",skillName:"Agile"},
          {icon:"fa-solid fa-water",skillName:"Waterfall"},
      ],
      subCategory2:"Automation & Scripting",
      items2:[
          {icon:"fa-solid fa-file-excel",skillName:"VBA"},
          {icon:"fa-solid fa-window-maximize",skillName:"PowerShell"}
      ]
    }
  ]
---

<SectionContainer className="swiper" title="SKILL">
    <div class="swiper-wrapper">
        {
            skills.map( skill => ( 
                <div class="swiper-slide">
                    <SkillCard 
                        contents={skill}
                    />
                </div>
            ))
        }
    </div>
    <div class="swiper-pagination"></div>
</SectionContainer>
<script>
    import Swiper from "swiper";
    import { Navigation, Pagination } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/navigation";
    import "swiper/css/pagination";
    
    const swiper = new Swiper(".swiper", {
      modules: [Navigation, Pagination],
      loop: true,
      allowTouchMove: true,
      slidesPerGroup: 1,
      slidesPerView: "auto", 
      spaceBetween: 20,
      autoHeight: false,
      grabCursor: true,
      breakpoints: {
        768: {
          slidesPerView: 2,
        },
        1280: {
          slidesPerView: 3,
        },
      },

      pagination: {
        el: ".swiper-pagination",
        clickable: true,
        dynamicBullets: false,
      },
    });
</script>
