---
import SectionContainer from "../../components/section/section-container.astro";
import Address from "./components/contact-address.astro";
import Resume from "./components/contact-resume.astro";
---

<SectionContainer id="contact" title="Let’s chat together!">
    <div class="contact">
      <Address />
      <Resume />
    </div>
</SectionContainer>