---
import SectionContainer from "../../core/components/section/section-container.astro";

---

<SectionContainer id="about">
    <p>
        I’m a Software Engineer with 4 years of experience in system design, backend development, and automation.<br/> Currently, I’m expanding my skills in full-stack development, focusing on creating efficient and scalable web solutions.
    </p>
</SectionContainer>