@use "sass:map";
@use "../../../../style/colors.scss" as *;
@use "../../../../style/responsive.scss" as *;

.nav-bar {
  display: none;

  @include responsive(sm) {
    display: flex;
    color: map.get($colors, letter, lighter);
  }

  &__list {
    display: flex;
    gap: 1rem;
  }
}
