---
import "./nav-bar.scss";

const navList = [
  { name: "HOME", navTo: "/" },
  { name: "WORK", navTo: "/works" },
  { name: "CONTACT", navTo: "#contact" },
];
---

<nav class="nav-bar">
  <ul class="nav-bar__list">
    {
      navList.map((item) => (
        <li>
          <a href={item.navTo}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>
