@use "sass:map";
@use "../../../core/style/responsive.scss" as *;

.top {
  margin: 0;
  padding-top: 0 !important;

  &__wrap {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 50%;
    left: 20%;
    @include responsive-property(font-size, 2rem, 2rem, 2.5rem, 2.5rem, 3rem);
  }
}
