---
import "./footer.scss";
---

<footer class="footer">
    <div class="footer__container">
      <nav class="footer__nav">
        <ul class="footer__items">
          <div class="footer__items">
            <li>
              <a href="#home">HOME</a>
            </li>
            <li>
              <a href="#about">ABOUT</a>
            </li>
          </div>
          <div class="footer__items">
            <li>
              <a href="#skills">SKILLS</a>
            </li>
            <li>
              <a href="#history">HISTORY</a>
            </li>
          </div>
          <div class="footer__items">
            <li>
              <a href="#project">PROJECT</a>
            </li>
            <li>
              <a href="#contact">CONTACT</a>
            </li>
          </div>
        </ul>
      </nav>
      <small>copyright notice:xxxxxxxxx</small>
    </div>
</footer>