@use "sass:map";
@use "../../style/colors.scss" as *;
@use "../../style/responsive.scss" as *;

$base-class: footer;

// .footer
.#{$base-class} {
  display: flex;
  flex-direction: column;

  // background-color: map.get($colors, background, darker);
  background-image: url(../../../assets/image-footer.jpg);
  background-size: cover;
  background-position: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 1rem;
    color: map.get($colors, letter, lighter);
  }

  &__nav {
    margin-bottom: 3rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @include responsive(md) {
    &__items {
      flex-direction: row;
      justify-content: center;
    }
  }
}
