---
import "./contact-address.scss";
---

<address class="address">
    <a href="mailto:tamaki.akita.jp@example.com"
      ><i class="fa-solid fa-envelope address__item"></i
    ></a>
    <a href="https://github.com/tmk-a" target="_blank"
      ><i class="fa-brands fa-github address__item"></i
    ></a>
    <a href="https://www.linkedin.com/in/tamaki-akita/" target="_blank"
      ><i class="fa-brands fa-linkedin address__item"></i
    ></a>
</address>