---
import Body from "../core/components/body/body.astro";
import Home from "../feature/home/home.astro";
import AboutMe from "../feature/about/about-me.astro";
import History from "../feature/history/history.astro";
import Project from "../feature/project/project.astro";
import Skills from "../feature/skills/skills.astro";
import Contact from "../core/components/contact/contact.astro";
---

<Body title="Home">
  <Home />
  <AboutMe />
  <Skills />
  <History />
  <!-- <sectionclass="certification">
	  <h3 class="certification__title">Certification</h3>
	  <ul class="certification__list">
		<li>
		  <h4 class="certification__name">JDLA Deep Learning for GENERAL</h4>
		  <div class="certification__contents">
			<p>2022/11</p>
			<p>Japan Deep Learning Association</p>
		  </div>
		</li>
		<li>
		  <h4 class="certification__name">
			Applied Information Technology Engineer Examination
		  </h4>
		  <div class="certification__contents">
			<p>2022/6</p>
			<p>IPA: Information-technology Promotion Agency,Japan</p>
		  </div>
		</li>
	  </ul>
	</sectionclass=> -->
  <Project />
  <Contact text="Let’s chat together!" />
</Body>
