---
import Body from "../core/components/body/body.astro";
import Project from "../feature/project/project.astro";
import Contact from "../core/components/contact/contact.astro";
---

<Body title="Works">
  <Project />
  <Contact />
</Body>
