$base-class: skill-item;

// .skill-item

.#{$base-class} {
  &__container {
    text-align: center;
    font-size: 2rem;
    min-width: 60px;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
