$colors: (
  background: (
    main: #ffffffff,
    darker: #d9d9d9ff,
    accent-green: #3c6e71ff,
    accent-blue: #284b63ff,
  ),
  letter: (
    lightest: #ffffffff,
    lighter: #5c5c5c,
    main: #353535ff,
  ),
  border: (
    accent-green: #3c6e71ff,
  ),
);
