---
import "./home.scss";
---

<section id="home" class="home">
    <h1 class="home__title">
      Building Reliable and Scalable Web Solutions.
    </h1>
    <h4>Tamaki Akita, Software Engineer</h4>
    <div>
      <img
        src="/src/assets/selfphoto.jpg"
        alt="tamaki"
        class="home__image"
      />
    </div>
    <address class="home__contact">
      <a href="mailto:tamaki.akita.jp@example.com"
        ><i class="fa-solid fa-envelope"></i
      ></a>
      <a href="https://github.com/tmk-a" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://www.linkedin.com/in/tamaki-akita/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </address>
  </section>