---
import "./home.scss";
import SectionContainer from "../../core/components/section/section-container.astro";
import Address from "../../core/components/contact/components/contact-address.astro";
import Selfphoto from "/src/assets/selfphoto.jpg";
---
<SectionContainer id="home" className="home">
  <h1 class="home__title">
    Building Reliable and Scalable Web Solutions.
  </h1>
  <h4>Tamaki Akita, Software Engineer</h4>
  <div>
    <img
      src={Selfphoto.src}
      alt="tamaki"
      class="home__image"
    />
  </div>
  <Address />
</SectionContainer>