@use "sass:map";
@use "../../core/style/responsive.scss" as *;

.home {
  background-image: url(../../assets/home-background.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 3rem;

  min-height: calc(100vh - 48px);

  &__title {
    @include responsive-property(font-size, 2rem, 2rem, 2.5rem, 2.5rem, 3rem);
  }

  &__image {
    border-radius: 50%;
    filter: grayscale(1);

    @include responsive-property(
      width,
      6.25rem,
      6.25rem,
      7.81rem,
      7.81rem,
      9.37rem
    );

    @include responsive-property(
      height,
      6.25rem,
      6.25rem,
      7.81rem,
      7.81rem,
      9.37rem
    );
  }
}
